button {
    font-family: Helvetica;
    width: 300px;
    height: 48px;
    background: #fdbd39;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    line-height: 0.78;
}

button.active {
    background: #f69833;
}

button:disabled {
    background: #d0cfce;
}
